body{
margin-left: 0px;
width: 1350.5px;
background-color: white;
}
.part1{
    height: 570px;
    width: 1350.5px;
    margin-top: -6px;
}
.pub{
    margin-top: -6px;
    height: 570px;
  
    width: 1350.5px;
}